/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
composer-auth.json
lupdate.txt
/.phpunit.cache
/--cache-result
/node_modules
/.vscode
/coverage
/composer-auth.json
--cache-directory
/tmp
/.tmp
coverage.xml
junit.xml